.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.6s ease-in;
    align-items: center;
}
.slider--inner img{ 
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.slider{
    overflow: hidden;
}
img{
    width: 100%;
}