<div class="caja">
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
  </button>
  <div id="carousel" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img_inicio/honda-navi-100.jpg"class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../img_inicio/D_763415-MLA75088259128_032024-O.jpg"
          class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../img_inicio/cuanto-sale-la-moto-honda-navi-con-precio-actualizado-en-marzo-de-2024-foto-honda-5GOH4J5GHVGVBBPADIHJVMJISE.avif">
      </div>
    </div>
  </div>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" ></span>
  </button>
</div>