body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.slider {
  padding: 1%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 1200px; /* Ajusta el ancho según sea necesario */
  margin: auto; /* Centrar el slider */
}

.slider--inner {
  display: flex;
  align-items: center;
}

.slider img {
  width: 100%;
  height: auto; /* Mantener la proporción de la imagen */
  max-height: 200px; /* Ajusta la altura máxima según sea necesario */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  display: block;
}